@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: var(--font-inter);
  --font-display: var(--font-roboto-slab);
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-50;
  }
}

@layer utilities {
  .font-display {
    font-family: var(--font-display);
  }
}

